@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Singleton yöntemi:  @ViewBag.Singleton
    </p>
    <p>
        Transient yöntemi:   @ViewBag.Transient
    </p>
    <p>
        Scoped Yöntemi   @ViewBag.Scoped
    </p>
    <hr />
    <p>
        Singleton Service:  @ViewBag.SingletonService
    </p>
    <p>
        Transient Service:   @ViewBag.TransientService
    </p>
    <p>
        Scoped Service   @ViewBag.ScopedService
    </p>
</div>
